@using WebData.Objects.PageContext.Manager
@using WebData.Objects.PageContext.Service

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>

@inject AppBehaviorManager AppBehavior;

@code{
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public ApiService ApiService { get; set; }

    [Inject]
    public IDialogService DialogService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppBehavior.NavigationManager = NavigationManager;
        AppBehavior.DialogService = DialogService;
        AppBehavior.ApiService = ApiService; 
    }
}