@using MudBlazor
@using WebData.Objects.PageContext.Manager
@using WebData.Objects.PageContext.Objs
<MudCard Class="pa-4">

    <MudText Align="Align.Center" Typo="Typo.h5" Class="mb-4">
        Personal Backlog
    </MudText>

    <div style="height: 153pt; overflow-y: auto;">

        <MudGrid Spacing="4" Justify="Justify.SpaceEvenly" Class="pt-4 pb-4">
            @foreach (UserTasks task in AppBehavior.Aufgaben.AufgabenVerzeichnis)
            {
                Color choosen = task.Status switch
                {
                    Objects.PageContext.Objs.TaskStatus.Waiting  => Color.Inherit,
                    Objects.PageContext.Objs.TaskStatus.Created  => Color.Info,
                    Objects.PageContext.Objs.TaskStatus.Working  => Color.Warning,
                    Objects.PageContext.Objs.TaskStatus.Finished => Color.Success,
                    _ => Color.Default
                };

                <MudItem>
                    <MudBadge Content="@task.Status.ToString()" Color="@choosen" Overlap="true" Origin="Origin.TopCenter">
                        <MudCard Class="pa-4" Style="min-width:200pt" Elevation="8">

                            <MudText Align="Align.Center" Typo="Typo.h6">@task.Name</MudText>
                            <MudText>@task.Description</MudText>
                        </MudCard>
                    </MudBadge>
                </MudItem>
            }
        </MudGrid>

    </div>

</MudCard>

@code {
    [Parameter]
    public AppBehaviorManager AppBehavior { get; set; }

}